# mysql volumes 配置
MYSQL_DATA_PATH = '/srv/docker-volumes/mysql/data'
MYSQL_CNF_FILE_PATH = '/srv/docker-volumes/mysql/conf/my.cnf'

# mysql server 配置
MYSQL_PORT = 3306
MYSQL_CFG_PORT = 3306
MYSQL_ROOT_PASSWORD = 'YOU_ROOT_PWD'